<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://s.beta.myapp.com/myapp/rdmexp/exp/file/comasiainfoLetterPlus_631617_6c382f98-2cc8-4e99-b4ba-d9593984cdf9.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://cdn-images-1.medium.com/fit/c/100/100/1*UDml4XwsCCWl1QOFJJL5dw.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://cdn-images-1.medium.com/fit/c/50/50/1*UDml4XwsCCWl1QOFJJL5dw.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.asiainfo.LetterPlus</string>
				<key>bundle-version</key>
				<string>6.3.16</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>欢迎关注小天使公众号</string>
				<key>title</key>
				<string>截图大师(微信多开) - 欢迎关注小天使公众号</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
